<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <link rel="stylesheet" href="/style.css">
</head> 
<body>
    <div class="auth-btn">
        <a href="/login"><button type="button">LOGIN</button></a>
        <a href="/register"><button type="button">REGISTER</button></a>
    </div>
</body>
</html>